{% extends 'base.html' %}

{% block title %}
  <title>TaskMate ~ Edit Task</title>
{% endblock title %}

{% block content %}
  <div class="container">
    <br>
    {% if task_obj.manage == request.user %}
      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
          <input type="hidden" class="form-control" name="done" value="{{ task_obj.done }}">
        </div>
          <button type="submit" class="btn btn-primary">Update Task</button>
      </form>
    {% else %}
      <p>Access Denied, You are not Allowed!</p>
    {% endif %}
  </div>
{% endblock content %}